@import "src/styles/mixins.module.scss";
@import "src/styles/variables.module.scss";

.todoList {
  height: 472px;
  background-color: $white;
  border-radius: $borderRadius;
  color: $veryDarkGrayishBlueLightTheme;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;
    overflow-y: auto;
  }
}

.todoList.darkTheme {
  background-color: $veryDarkDesaturatedBlueDarkTheme;
  box-shadow: $boxShadowDark;
}
