// Color

$white: white;
$brightBluePrimary: #3b7bfc;
$checkBackgroundPrimary: linear-gradient hsl(192, 100%, 67%) to
  hsl(280, 87%, 65%);
$veryLightGrayLightTheme: #fafafa;
$veryLightGrayishBlueLightTheme: #e4e5f1;
$lightGrayishBlueLightTheme: #d2d3db;
$darkGrayishBlueLightTheme: #9394a5;
$veryDarkGrayishBlueLightTheme: #484b6a;
$veryDarkBlueDarkTheme: #161722;
$veryDarkDesaturatedBlueDarkTheme: #25273c;
$lightGrayishBlueDarkTheme: #cacde8;
$lightGrayishBlueHoverDarkTheme: #e4e5f1;
$darkGrayishBlueTheme: #777a92;
$veryDarkGrayishBlueTheme: #4d5066;
$veryDarkGrayishBlueTheme: #393a4c;

// other

$borderRadius: 5px;
$boxShadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
$boxShadowDark: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
$transition: opacity 0.2s ease-in;
$borderRadius: 5px;
