@import url("src/styles/mixins.module.scss");
@import "src/styles/variables.module.scss";

.header {
  @include display(flex, space-between, center);
  font-weight: 700;
  letter-spacing: 15px;
  color: $white;

  img {
    cursor: pointer;
  }
}
